:root {
    --dark: #1f0e1c;
    --light: #f5edba;
    --accent: #9d303b;
}

* {
    font-family: 'Podkova', serif;
}

html {
    background-color: var(--dark);
}

hr, body {
    border: var(--accent) solid;
}

body {
    border-width: 2px;
    margin: auto;
    max-width: 800px;
    text-align: center;
    color: var(--dark);
    background-color: var(--light);
}

mark {
    background-color: var(--dark);
    color: var(--light);
    padding: 2px 30px;
}

hr {
    border-width: 1px;
    width: 60%;
}

::selection {
    background-color: var(--accent);
    color: var(--light);
}

a {
    text-decoration: none;
    color: var(--accent);
}